@import '../var/index.less';
.ta-button-group {
  margin-bottom: @gap16;
  position: relative;

  &-inner {
    white-space: nowrap;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ant-btn {
    border-radius: 32px !important;
  }

  .badge-count {
    z-index: 1;
    min-width: 20px;
    position: absolute;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    background: #ff4d4f;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;
    top: 0;
  }

  .ant-btn + .ant-btn {
    margin-left: 16px;
  }

  .ant-btn {
    &:not(.ant-btn-primary) {
      background: #eeedf2;
      border-color: #eeedf2;
      color: #999;
    }
  }
}
