@import "../var/index.less";
.ta-button-group {
  margin-bottom: @gap16;
  position: relative;

  &-inner {
    white-space: nowrap;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ant-btn {
    border-radius: 32px !important;
  }

  .ant-btn-default {
    background: #eeedf2;
    border-color: #eeedf2;
    color: #999;
  }
}
