@import '../var/index.less';
@prefix-cls-collapse-container: ~'@{namespace}-container-collapse';
.@{prefix-cls-collapse-container} {
  background-color: @component-background;
  border-radius: @primary-border-radius;
  transition: all 0.3s ease-in-out;

  &__header {
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @border-color-light;
  }

  &__footer {
    border-top: 1px solid @border-color-light;
  }

  &__action {
    display: flex;
    text-align: right;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
}
