.date-interval-wrapper {
  display: flex;
  .ant-picker-range {
    max-width: 200px;
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }
  .ant-btn {
    min-width: 32px !important;
    width: 32px;
    height: 32px !important;
    padding: 0 !important;
    border-radius: 0px 4px 4px 0px;
  }
}
.data-interval-footer {
  .ant-calendar-footer-extra {
    float: right;

    .ant-btn {
      min-width: 80px;
      margin-left: 8px;
      border-radius: 10px;
      margin: 8px;
    }
  }
}
