@import '../var/index.less';

@component-name: ~'@{namespace}-file';

.@{namespace} {
  &-file {}
  &-file-type-select {
    .ant-select {
      width: 200px;
    }
  }
  &-file-actions {}
  &-file-action-upload {
    .ant-btn > .ant-btn-loading-icon .anticon svg {
      font-size: 16px;
    }
  }
  &-file-action-upload-link {}
  &-file-action-upload-link-form {}
  &-file-table {}
  &-file-version {}
  &-file-view {}
}

