@import '../var/index.less';
.file-view-modal {
  z-index: 2000;
  .ant-modal {
    top: 0;
    padding: 0;
  }

  &-next,
  &-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: rgba(#000);
    border-radius: 50%;
    line-height: 1.2;
    opacity: 0.4;
    z-index: 99;
    transition: all ease 0.3s;

    a {
      color: #fff;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-prev {
    left: 20px;
  }

  &-next {
    right: 20px;
  }

  .ant-modal-content {
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    background: rgba(#000, 0.65);

    .ant-modal-header {
      border-radius: 0;
      background: @primary-color;
      border-bottom: none;

      .ant-modal-title {
        color: #fff;
        line-height: 30px;
        font-size: 14px;
        font-weight: normal;
      }
    }

    .ant-modal-close-x {
      color: #fff;
    }

    .file-view-num {
      margin-right: 20px;
      opacity: 0.8;
    }

    .file-view-action {
      margin-right: 20px;
      float: right;

      .ant-btn-text {
        color: #fff;
      }
    }

    .ant-modal-body {
      flex: 1;
      // padding: 0 10%;
      max-height: 100%;
      overflow: hidden;

      .ant-spin {
        height: 100%;
        width: 100%;
        max-height: 100%;
        color: #fff;

        .ant-spin-text {
          text-shadow: none;
        }

        .ant-spin-dot-item {
          background: #fff;
        }
      }

      .ant-spin-container {
        width: 100%;
        height: 90%;
      }

      .file-view-content {
        // background: #fff;
        height: calc(100vh - 50px);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 80%;
          max-height: 80%;
        }

        audio,
        video {
          width: 640px;
          height: 368px;
        }
        .text-page {
          background: #fff;
          height: 100%;
          width: 800px;
        }
      }

      iframe {
        border: none;
        width: 100%;
        height: 100%;
      }

      .empty {
        color: #fff;
      }
    }
  }
}
