.ta-upload {
  margin-bottom: 16px;
  text-align: left;

  &-title {
    font-size: 14px;
    font-family: Microsoft YaHei UI;
    font-weight: bold;
    line-height: 18px;
    color: #222;
    opacity: 0.99;
    margin-bottom: 16px;
  }

  // form.ant-form {
  //   border: 1px solid red;
  //   display: block;
  // }

  &-title {
    display: flex;
    align-items: center;
  }

  &-btn {
    margin-left: 16px;
  }

  &-preview-table {
    height: 300px;
    // border: 1px solid red;
    margin-top: 16px;

    .ant-table-wrapper {
      padding: 0 !important;
    }

    .ta-basic-table-operations {
      display: none;
    }

    .ant-table-content {
      padding: 0;
      margin-top: 16px !important;

      .ant-table-placeholder {
        margin: 0;
        margin-top: 3%;
      }
    }
  }
}
